@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Public Sans", Fira Sans, Droid Sans, Helvetica Neue,
      sans-serif;
  }
}

.background {
  background: url("../../public/Wallpaper.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
